body{
	color: #807979;
	margin: 2em;
	padding: 10px 20px;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
button {
  background-color: rgba(131,204,97,1);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: Arial;
  padding: 10px 10px;
}
button:hover {
  background-color: #B2E672;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
input{
	border: 1px solid #B4B2B2;
	border-radius: 5px;
	color: #5B5656;
	padding: 10px;
}
h1{
	color: #d14542;
}
h2{
	color: #354a5e;
	font-weight: 500;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
.inline{
	display: inline-block;
}